$white: #fff;
$black: #000;
$toggle-red: #c63040;
$toggle-green: #5bc88d;
$navbar-background: #f1f1f1;
$plugin-border: #dcdcdc;
$plugin-description: #9aa7b0;
$tab-active: #ff0000;
$enable-plugins-background: rgb(91, 200, 141);
$enable-plugins-gradient: linear-gradient(0deg, rgba(91, 200, 141, 0.7) 0%, transparent 40%);
$disable-plugins-background: rgb(198, 48, 64);
$disable-plugins-gradient: linear-gradient(0deg, rgba(198, 48, 64, 0.7) 0%, transparent 40%);
